# Security Copilot Cost Management API V17.
#
# V17 removes OpenAPI path parameters entirely. The agent dispatcher bug
# documented in V13-V17 only occurs while substituting URL-template path
# variables, so this spec calls the static ARM batch endpoint and places the
# subscription-scoped Cost Management request in the JSON body.
#
# V18 evidence showed the planner attempted to pass the body field `requests`
# as a top-level tool argument. Security Copilot API skills expose HTTP bodies
# to the model as one tool input named `requestBody`, so V17 says this
# explicitly in the operation description.
#
# V19 evidence showed the pathless ARM batch + requestBody plumbing works, but
# MonthToDate returned zero rows early in July while a Custom rolling 30-day
# Cost Management query returned billing rows. V17 therefore exposes only a
# Custom rolling-window request shape with required timePeriod.
#
# Runtime request shape:
# POST https://management.azure.com/batch?api-version=2020-06-01
# {
#   "requests": [
#     {
#       "httpMethod": "POST",
#       "relativeUrl": "/subscriptions/<runtime-guid>/providers/Microsoft.CostManagement/query?api-version=2025-03-01",
#       "content": { <standard Custom Cost Management query body> }
#     }
#   ]
# }
#
# This is intentionally a new experiment. It preserves the strict inline
# Cost Management body that worked in direct dispatch while bypassing the
# broken agent path-substitution code path.

openapi: 3.0.0
info:
  title: Security Copilot Cost Management API V17 ARM Batch Rolling 30 Days
  description: >
    Queries compact Microsoft Security Copilot cost for a Custom rolling
    window through the static Azure Resource Manager batch endpoint. The Azure
    subscription GUID is supplied inside the batch relativeUrl body field, not
    as an OpenAPI path parameter.
  version: "17.0"

servers:
  - url: https://management.azure.com

paths:
  /batch:
    post:
      operationId: QuerySecurityCopilotCostCustomViaArmBatchV17
      summary: Query Custom-window Security Copilot cost through ARM batch.
      description: >
        Use this operation for agent runs that need Microsoft Security Copilot
        cost without any OpenAPI path parameter. When invoking this as a
        Security Copilot tool, pass the entire JSON body as the single
        requestBody input. Do not pass requests as a separate top-level tool
        argument. Inside requestBody, send exactly one ARM batch subrequest.
        The subrequest httpMethod must be POST. The subrequest relativeUrl
        must be the subscription-scoped Cost Management query path for the
        runtime subscription GUID:
        /subscriptions/<subscription-guid>/providers/Microsoft.CostManagement/query?api-version=2025-03-01.
        The subrequest content must be the complete nested Custom cost query
        body declared below. Include timePeriod.from and timePeriod.to as UTC
        date-time strings. Use this for rolling last-30-day cost windows where
        MonthToDate can legitimately return no rows early in a month.
      parameters:
        - name: api-version
          in: query
          required: true
          description: Azure Resource Manager batch API version.
          schema:
            type: string
            enum:
              - "2020-06-01"
            default: "2020-06-01"
      requestBody:
        required: true
        description: >
          Single ARM batch request wrapping the subscription-scoped Cost
          Management Custom-window query.
        content:
          application/json:
            schema:
              type: object
              required:
                - requests
              properties:
                requests:
                  type: array
                  minItems: 1
                  maxItems: 1
                  items:
                    type: object
                    required:
                      - httpMethod
                      - relativeUrl
                      - content
                    properties:
                      httpMethod:
                        type: string
                        enum:
                          - POST
                        default: POST
                      relativeUrl:
                        type: string
                        description: >
                          Runtime subscription-scoped Cost Management path,
                          beginning with /subscriptions/ and ending with
                          /providers/Microsoft.CostManagement/query?api-version=2025-03-01.
                      content:
                        type: object
                        required:
                          - type
                          - timeframe
                          - timePeriod
                          - dataset
                        properties:
                          type:
                            type: string
                            enum:
                              - Usage
                            default: Usage
                          timeframe:
                            type: string
                            enum:
                              - Custom
                            default: Custom
                            description: >
                              Use Custom with explicit UTC timePeriod.
                          timePeriod:
                            type: object
                            required:
                              - from
                              - to
                            properties:
                              from:
                                type: string
                                format: date-time
                                description: Inclusive UTC cost window start.
                              to:
                                type: string
                                format: date-time
                                description: Inclusive UTC cost window end.
                          dataset:
                            type: object
                            required:
                              - granularity
                              - aggregation
                              - filter
                              - grouping
                            properties:
                              granularity:
                                type: string
                                enum:
                                  - Daily
                                default: Daily
                              aggregation:
                                type: object
                                required:
                                  - totalCost
                                  - totalUsageQuantity
                                properties:
                                  totalCost:
                                    type: object
                                    required:
                                      - name
                                      - function
                                    properties:
                                      name:
                                        type: string
                                        enum:
                                          - PreTaxCost
                                        default: PreTaxCost
                                      function:
                                        type: string
                                        enum:
                                          - Sum
                                        default: Sum
                                  totalUsageQuantity:
                                    type: object
                                    required:
                                      - name
                                      - function
                                    properties:
                                      name:
                                        type: string
                                        enum:
                                          - UsageQuantity
                                        default: UsageQuantity
                                      function:
                                        type: string
                                        enum:
                                          - Sum
                                        default: Sum
                              filter:
                                type: object
                                required:
                                  - dimensions
                                properties:
                                  dimensions:
                                    type: object
                                    required:
                                      - name
                                      - operator
                                      - values
                                    properties:
                                      name:
                                        type: string
                                        enum:
                                          - ServiceName
                                        default: ServiceName
                                      operator:
                                        type: string
                                        enum:
                                          - In
                                        default: In
                                      values:
                                        type: array
                                        minItems: 1
                                        maxItems: 1
                                        items:
                                          type: string
                                          enum:
                                            - Microsoft Security Copilot
                              grouping:
                                type: array
                                minItems: 2
                                maxItems: 2
                                items:
                                  type: object
                                  required:
                                    - type
                                    - name
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - Dimension
                                      default: Dimension
                                    name:
                                      type: string
                                      enum:
                                        - ResourceId
                                        - Meter
            example:
              requests:
                - httpMethod: POST
                  relativeUrl: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/query?api-version=2025-03-01
                  content:
                    type: Usage
                    timeframe: Custom
                    timePeriod:
                      from: "2026-06-06T00:00:00Z"
                      to: "2026-07-05T23:59:59Z"
                    dataset:
                      granularity: Daily
                      aggregation:
                        totalCost:
                          name: PreTaxCost
                          function: Sum
                        totalUsageQuantity:
                          name: UsageQuantity
                          function: Sum
                      filter:
                        dimensions:
                          name: ServiceName
                          operator: In
                          values:
                            - Microsoft Security Copilot
                      grouping:
                        - type: Dimension
                          name: ResourceId
                        - type: Dimension
                          name: Meter
      responses:
        "200":
          description: ARM batch response wrapping the Cost Management result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  responses:
                    type: array
                    items:
                      type: object
                      properties:
                        httpStatusCode:
                          type: integer
                        headers:
                          type: object
                        content:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            type:
                              type: string
                            properties:
                              type: object
                              properties:
                                columns:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      type:
                                        type: string
                                rows:
                                  type: array
                                  items:
                                    type: array
                                    items:
                                      nullable: true
                                nextLink:
                                  type: string
                                  nullable: true
        "400":
          description: Azure Resource Manager rejected the batch envelope or subrequest.
        "401":
          description: Azure authentication failed.
        "403":
          description: The user cannot query cost at the subscription scope.
        "429":
          description: Azure Resource Manager or Cost Management throttled the request.
        "500":
          description: Azure Resource Manager or Cost Management returned an internal error.
        default:
          description: Unexpected ARM batch response.
